<h1 class="home-message">Welcome!</h1>

{{#each blogposts as |blogpost|}}
  <div class='row mb-4 blogpost'>
    <div class='col-md-5'>
      <h2>
        <a href='/blogposts/{{id}}'>{{title}}</a>
      </h2>
      <p>
        {{#each blogpost.comments as |comment|}}
          <span class='comment'>{{comment}}</span>
        {{/each}}
      </p>
      <p>Created by
        {{user.username}}
        on
        {{format_date date_created}}</p>
    </div>
    <div class='col-md-7'>
      <p>
        {{body}}
      </p>
    </div>
  </div>
{{/each}}